BACKEND_URL=https://mining-equipment-backend.onrender.com
CLOUDINARY_API_KEY=681449246525152
CLOUDINARY_API_SECRET=Qxxcy49auO-4XnMoOswB9M6lD2A
CLOUDINARY_CLOUD_NAME=probitymutsambiwa
EMAIL_FROM=sales@mineazy.co.zw
EMAIL_FROM_NAME="Mineazy Online Shop"
EMAIL_HOST=mail.mineazy.co.zw
EMAIL_PASS="Manchester20#"
EMAIL_PORT=465
EMAIL_REPLY_TO=sales@mineazy.co.zw
EMAIL_USER=sales@mineazy.co.zw
FRONTEND_URL=https://mineazy-shop.onrender.com
JWT_EXPIRES_IN=30d
JWT_SECRET=your-super-secret-jwt-key-here
MAX_FILE_SIZE=5242880
MONGODB_URI="mongodb://ccuser:3WuAIHF1BlxR6M9O@ac-10sieau-shard-00-00.nojmein.mongodb.net:27017,ac-10sieau-shard-00-01.nojmein.mongodb.net:27017,ac-10sieau-shard-00-02.nojmein.mongodb.net:27017/?ssl=true&replicaSet=atlas-12x0sr-shard-0&authSource=admin&retryWrites=true&w=majority"
NODE_ENV=production
PAYNOW_INTEGRATION_ID=23628
PAYNOW_INTEGRATION_KEY=cf7f6a2f-833d-4565-b6f3-da62ed6e7dca
PAYNOW_AUTH_EMAIL=tinashek@dicomm.co.zw
PAYNOW_RESULT_URL=https://mining-equipment-backend.onrender.com/api/payments/paynow/callback
PAYNOW_RETURN_URL=https://mineazy-shop.onrender.com/payment-processing
PORT=5000
PUPPETEER_EXECUTABLE_PATH=/opt/render/.cache/puppeteer/chrome/linux-*/chrome-linux*/chrome
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=false
UPLOAD_PATH=uploads/
# SUPABASE_URL=
# SUPABASE_SERVICE_ROLE_KEY=
# SUPABASE_STORAGE_BUCKET=
